<%- include ('../layouts/adminHeader.ejs') %>

        <div class="layout-page">

          <div ><form action="/admin/editProducts?id=<%-product._id%>" method="post" enctype="multipart/form-data">
            <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
            <div class="card mb-4">
              <h5 class="card-header">EDIT PRODUCT</h5>
              <div class="card-body">
                <div class="mb-3 row">
                  <label for="html5-text-input" class="col-md-2 col-form-label">Product name</label>
                  <div class="col-md-10">
                    <input class="form-control" type="text" value="<%-product.name%>" id="html5-text-input" name="name" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="html5-number-input" class="col-md-2 col-form-label">Quantity</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" value="<%-product.stock%>" id="html5-number-input" name="stock" />
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlSelect1" class="form-label">Category</label>
                  <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example" aria-placeholder="" name="category">
                    <option selected><%-product.category%></option>
                    <% if(category){ %>
                      <% for(let i=1;i <= category.length; i++){ %>
                        <option value="<%= category[i-1].name %>">
                          <%= category[i-1].name %>
                        </option>
                        <% } %>
                      <% }else{ %>
                        <h1>No Categories to add</h1>
                      <% } %>  
                  </select>
                </div>
                <div class="mb-3 row">
                    <label for="exampleFormControlTextarea1" class="form-label">Product description</label>
                  <div class="col-md-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" value="<%-product.description%>" name="description" rows="3"><%-product.description%></textarea>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="html5-number-input" class="col-md-2 col-form-label">Price</label>
                  <div class="col-md-10">
                    <input class="form-control" type="number" name="price" value="<%-product.price%>" id="html5-number-input" />
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="html5-date-input" class="col-md-2 col-form-label">Date</label>
                  <div class="col-md-10">
                    <input class="form-control" type="date" name="date" value="2021-06-18" id="html5-date-input" />
                  </div>
                </div>

              <h5 class="card-title">Uploaded Images </h5>
                <div class="mb-3">
                  <div >
                  <% for(let key of product.image){ %>
                  <img src="/uploads/<%=key %>" class="" width="60px" height="60px" style="border: 4px;" alt="error">
                  <%}%>  </div><br> 
                  <label for="formFileMultiple" class="form-label">Select image to upload</label>
                  <input class="form-control" name="image" type="file" id="image" multiple accept="image/*"/>
                </div>
              
              </div>
        
           
           
            </form>      
          </div>
          <div class="buy-now">
            <button type="submit"  class="btn btn-danger btn-buy-now">SAVE PRODUCT</button>
          </div> 
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 <%- include ('../layouts/adminFooter.ejs') %>