<%- include ('../layouts/header.ejs') %>

    <form action="/resetPassword?id=<%=user._id%>&otp=<%=otp%>" method="post" class="my-auto" style="height: 90vh;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card bg-secondary" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class=" row justify-content-center">
                                <div class=" col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 " style="color: aliceblue;">
                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Verify Otp</p>
                                    <hr>

                                    <form class="mx-1 mx-md-4">

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline  mb-0 ">
                                                <label class="form-label" for="form3Example3c"> &nbsp; &nbsp; &nbsp;
                                                    &nbsp; &nbsp; &nbsp; &nbsp;Enter new Password &nbsp; &nbsp;</label>
                                                <input style="width: 250px;padding-left: 20px;" type="password" id="password" required
                                                    class="form-control" name="password" />
                                                <label class="form-label" for="form3Example3c"> &nbsp; &nbsp; &nbsp;
                                                    &nbsp; &nbsp; &nbsp; &nbsp;Enter your OTP &nbsp; &nbsp;</label>
                                                <input style="width: 250px;padding-left: 20px;" type="text" id="otp" required
                                                    class="form-control" name="otp" />
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="d-flex ">
                                            <div style="display: flex;justify-content: space-between;">
                                                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                                <button type="button" class="btn btn-primary btn-md"
                                                    id="but" style="display: none; "><a href="/resendOtp" style="color: rgb(255, 255, 255);">Resend OTP</a></button>
                                                &nbsp; &nbsp; <span id="timer"></span>&nbsp; &nbsp; &nbsp;
                                                <input type="submit" value="Register" class="btn btn-primary btn-md">
                                            </div>

                                        </div>
                                        <% if(typeof message !=='undefined' ){ %>
                                            <h4>
                                                <%= message %>
                                            </h4>
                                            <% } %>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
    <script>
        (function timer() {
            var sec = 60;
            var timer = setInterval(function () {
                document.getElementById('timer').innerHTML = 'resend otp in 00:' + sec;
                sec--;
                if (sec < 0) {
                    clearInterval(timer);
                    document.getElementById('timer').innerHTML = '';
                    document.getElementById("but").style.display = 'block';
                }
            }, 1000);
        })()
    </script>
    <%- include ('../layouts/footer.ejs') %>